{% extends "base.html" %}

{% block title %}Add Server{% endblock %}

{% block content %}
<div class="header">
    <h1 class="mb-4">{{ title }}</h1>
</div>
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.ip_address.label(class="form-label") }}
        {{ form.ip_address(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.wireguard_address.label(class="form-label") }}
        {{ form.wireguard_address(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
        {{ form.update(class="btn btn-secondary") }}
    </div>
</form>
{% endblock %}
