{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="header">
    <h1 class="mb-4">Login</h1>
</div>
<style>
/* Custom styles for the form-check */
.form-check {
    display: flex;
    align-items: center;
    padding-left: 0;
}

.form-check-input {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
}

.form-check-label {
    margin-bottom: 0;
}
</style>
<form method="POST" action="{{ url_for('login') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
    </div>
    <div class="form-group form-check">
        {{ form.remember(class="form-check-input") }}
        {{ form.remember.label(class="form-check-label") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}
